<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convertir HTML a PDF</title>
    <!-- El script de la librería-->
    <script src="{{url_for('static', filename = 'html2pdf.bundle.min.js')}}"></script>
    <!--Nuestro script, que se encarga de crear el PDF usando la librería-->
    <script src="{{url_for('static', filename = 'script.js')}}"></script>
    <!-- Algunos estilos -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'style1.css')}}">
</head>

<body>
    <center>
        <h1>Universidad de San Carlos</h1>
        <h2>Facultad de Ingenieria</h2>
        <h2>Organizacion de Lenguajes y compiladores 2</h2>
        <h4>Ana Isabel Culajay Gonzalez 201602790</h4>
        <br>
        <h5>Durante la emergencia sanitaria provocada por el COVID-19, se ha observado un notable
            incremento en la aplicación de nuevas tecnologías al campo de la salud y la investigación. Desde la
            creación de todo tipo de dispositivos inteligentes destinados a detectar el más mínimo síntoma
            indicativo de contagio, hasta el diseño de nuevos patrones de investigación en la cura del nuevo
            coronavirus. <br>


            Sin duda, la IA (Inteligencia Artificial) ha estado presente en todas y cada una de las etapas de
            esta pandemia, e incluso en momentos previos a ella. En este sentido, se trató de una startup
            canadiense –BlueDot- que, gracias a un algoritmo basado en inteligencia artificial, logró
            predecirlo.
        </h5>

        <table style="border: hidden" align="center">
            <tbody style="border: hidden">
                <tr style="border: hidden">
                    <th style="border: hidden" align="center">Tendencia de la infección por Covid-19 en un País</th>
                    <td style="border: hidden"> </td>
                    <th style="border: hidden" align="center">Interpretacion:</th>
                </tr>

                <tr style="border: hidden">
                    <td style="border: hidden">Las tendencias responden a distintos estímulos. En ocasiones son
                        adoptadas
                        lentamente, a lo largo de cambios en la cultura, mientras en otras ocurren por una
                        masiva adopción causada por un fuerte estímulo externo. En un mundo dominado
                        por enormes organizaciones que muchas veces se constituyen en reglas antiguas,
                        un shock como el del COVID-19 puede generar grandes cambios en la forma que
                        se opera la economía.
                        <br>
                        La gente elige en entornos familiares, rutinarios y seguros que les simplifican esa
                        toma de decisiones, que muchas veces se vuelve automática. Pero la inestabilidad
                        que ha traído el COVID-19 ha creado ambientes fuera de contexto, no familiares y
                        sin predictibilidad. En este nuevo ambiente las empresas deben encontrar la forma
                        de adaptarse para sobrevivir, porque la historia ha probado que incluso en la
                        hostilidad de las crisis las empresas nuevas o innovadoras pueden prosperar.
                    </td>
                    <td style="border: hidden"></td>
                    <td style="border: hidden"> {{descripcion}} </td>
                </tr>

                <tr style="border: hidden">
                    <th style="border: hidden"> Analisis de datos</th>
                    <td style="border: hidden"></td>
                    <td style="border: hidden"></td>
                </tr>

                <tr style="border: hidden">
                    <td style="border: hidden"> </td>
                    <td style="border: hidden"></td>
                    <td style="border: hidden"></td>
                </tr>

                <tr style="border: hidden">
                    <td style="border: hidden" align="center"><img
                            src=" {{url_for('static', filename = 'Reportes/rep1.png')}}" alt="Una imagen" width="400"
                            height="400"></td>
                    <td style="border: hidden"></td>
                    <td style="border: hidden"></td>
                </tr>

                <tr style="border: hidden">
                    <td style="border: hidden"></td>
                    <td style="border: hidden"></td>
                    <th style="border: hidden">Bibliografia</th>
                </tr>

                <tr style="border: hidden">
                    <td style="border: hidden"></td>
                    <td style="border: hidden"></td>
                    <td style="border: hidden">
                        https://scikit-learn.org/stable/modules/linear_model.html#bayesian-regression</td>
                </tr>

                <tr style="border: hidden">
                    <td style="border: hidden"></td>
                    <td style="border: hidden"></td>
                    <td style="border: hidden">
                        https://scikit-learn.org/stable/modules/linear_model.html#polynomial-regression-extending-linear-models-with-basis-functions
                    </td>
                </tr>

                <tr style="border: hidden">
                    <td style="border: hidden"></td>
                    <td style="border: hidden"></td>
                    <td style="border: hidden">https://github.com/harias25/olc2-diciembre-2021/tree/main/Proyecto%202
                    </td>
                </tr>
            </tbody>
        </table>

    </center>

    <center>
        <table style="border: hidden">
            <tbody style="border: hidden">
                <tr style="border: hidden">
                    <td style="border: hidden">
                        <button class="raise" type="button" id="btnCrearPdf">Descargar</button>
                    </td>
                </tr>

                <tr style="border: hidden">
                    <td style="border: hidden">
                        <form action="/">
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <button class="raise" type="submit">Regresar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <br><br>
    </center>
</body>

</html>