<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convertir HTML a PDF</title>
    <!-- El script de la librería-->
    <script src="{{url_for('static', filename = 'html2pdf.bundle.min.js')}}"></script>
    <!--Nuestro script, que se encarga de crear el PDF usando la librería-->
    <script src="{{url_for('static', filename = 'script.js')}}"></script>
    <!-- Algunos estilos -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'style1.css')}}">
</head>

<body>
    <center>
        <h1>Universidad de San Carlos</h1>
        <h2>Facultad de Ingenieria</h2>
        <h2>Organizacion de Lenguajes y compiladores 2</h2>
        <h4>Ana Isabel Culajay Gonzalez 201602790</h4>
        <br>
        <h5>Durante la emergencia sanitaria provocada por el COVID-19, se ha observado un notable
            incremento en la aplicación de nuevas tecnologías al campo de la salud y la investigación. Desde la
            creación de todo tipo de dispositivos inteligentes destinados a detectar el más mínimo síntoma
            indicativo de contagio, hasta el diseño de nuevos patrones de investigación en la cura del nuevo
            coronavirus. <br>


            Sin duda, la IA (Inteligencia Artificial) ha estado presente en todas y cada una de las etapas de
            esta pandemia, e incluso en momentos previos a ella. En este sentido, se trató de una startup
            canadiense –BlueDot- que, gracias a un algoritmo basado en inteligencia artificial, logró
            predecirlo.
        </h5>

        <table style="border: hidden" align="center">
            <tbody style="border: hidden">
                <tr style="border: hidden">
                    <th style="border: hidden" align="center">Comparación entre el número de casos detectados y el
                        número de pruebas de un país</th>
                    <td style="border: hidden"> </td>
                    <th style="border: hidden" align="center">Interpretacion:</th>
                </tr>

                <tr style="border: hidden">
                    <td style="border: hidden">A fecha de 13 de diciembre de 2021, se han registrado en el mundo
                        alrededor de 270,8 millones de casos de coronavirus (SARS-CoV-2). El coronavirus que se originó
                        en la ciudad China de Wuhan se ha extendido a todos los países de la geografía europea y del
                        mundo.
                        <br>
                        Hay dos tipos de pruebas virales: las pruebas rápidas y las pruebas de laboratorio. En las
                        pruebas virales se usan muestras de su nariz o su boca. Las pruebas rápidas se pueden hacer en
                        minutos y pueden incluir pruebas de anticuerpos y ciertas pruebas NAAT.
                    </td>
                    <td style="border: hidden"></td>
                    <td style="border: hidden"> {{descripcion}} </td>
                </tr>

                <tr style="border: hidden">
                    <th style="border: hidden"> Analisis de datos</th>
                    <td style="border: hidden"></td>
                    <td style="border: hidden"></td>
                </tr>

                <tr style="border: hidden">
                    <td style="border: hidden"> </td>
                    <td style="border: hidden"></td>
                    <td style="border: hidden"></td>
                </tr>

                <tr style="border: hidden">
                    <td style="border: hidden" align="center">
                        <img src=" {{url_for('static', filename = 'Reportes/rep24.png')}}" alt="Una imagen" width="400"
                            height="400">
                    </td>
                    <td style="border: hidden"></td>
                    <td style="border: hidden"></td>
                </tr>

                <tr style="border: hidden">
                    <td style="border: hidden" align="center">
                        <img src=" {{url_for('static', filename = 'Reportes/rep241.png')}}" alt="Una imagen" width="400"
                            height="400">
                    </td>
                    </td>
                    <td style="border: hidden"></td>
                    <th style="border: hidden">Bibliografia</th>
                </tr>

                <tr style="border: hidden">
                    <td style="border: hidden"></td>
                    <td style="border: hidden"></td>
                    <td style="border: hidden">
                        https://scikit-learn.org/stable/modules/linear_model.html#bayesian-regression</td>
                </tr>

                <tr style="border: hidden">
                    <td style="border: hidden"></td>
                    <td style="border: hidden"></td>
                    <td style="border: hidden">
                        https://scikit-learn.org/stable/modules/linear_model.html#polynomial-regression-extending-linear-models-with-basis-functions
                    </td>
                </tr>

                <tr style="border: hidden">
                    <td style="border: hidden"></td>
                    <td style="border: hidden"></td>
                    <td style="border: hidden">https://github.com/harias25/olc2-diciembre-2021/tree/main/Proyecto%202
                    </td>
                </tr>
            </tbody>
        </table>

    </center>

    <center>
        <br><br>
        <button type="button" id="btnCrearPdf">Descargar</button>
    </center>


</body>

</html>