<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página web</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'estilos.css')}}">
    <link rel="stylesheet" media="all" href="{{url_for('static', filename = 'css/style.css')}}" />

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <header class="header" id="inicio">
        <img class="hamburguer" src="{{url_for('static', filename = 'img/hamburguesa.svg')}}" alt="">
        <nav class="menu-navegacion">
            <a href="#inicio">Inicio</a>
            <a href="#Carga">Cargar Archivo</a>
            <a href="#analisis">análisis de información</a>
            <a href="#expertos">Especializados</a>
            <a href="#footer">Contacto</a>
        </nav>
        <div class="contenedor head">
            <h1 class="titulo">Coronavirus Data Analysis</h1>
            <p class="copy">Organizacion de lenguajes y compiladores 2</p>
        </div>

    </header>
    <main>
        <section class="gallery1" id="galeria">
            <div class="contenedor">
                <h2 class="subtitulo">Bienvenido al analisis de: Porcentaje de hombres infectados por covid-19 en un Pais desde el primer caso activo</h2>
                <center>
                    <p align="center">
                    <form
                        action="/iniciorep11/regresionlineal11"
                        style="display:inline">
                        <button class="raise"> Ingresar </button>
                    </form>
                    <form
                        action="/"
                        style="display:inline">
                        <span lang="es">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                        <button class="raise">Regresar</button>
                    </form>
                    </p>
                </center>
            </div>
        </section>
        <div class="imagen-light">
            
            <img src="{{url_for('static', filename = 'img/close.svg')}}" alt="" class="close">
            <img src="" alt="" class="agregar-imagen">
        </div>
    </main>

    <footer id="footer">
        <div class="contenedor footer-content">
            <div class="contact-us">
                <h5 class="brand">Ana Isabel Culajay Gonzalez 201602790</h5>
                <p>Lenguajes y Compiladores 2</p>
            </div>
        </div>
        <div class="line"></div>
    </footer>
    <script src="{{url_for('static', filename = 'js/menu.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/lightbox.js')}}"></script>
</body>

</html>